.logo{
color:#FF9C50;
font-family:sans-serif;
}
.headforacc
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color:#FF9B51;
}
.notify{
    font-family:sans-serif;
}

.navbut{
    background-color:#20313D;
    color:#FF9C50;
    font-size: 80%;
    border-radius:6px;
    border:1;
    padding-left:12px;
    padding-right:12px;
    padding-top: 8px;
    padding-bottom:10px;
    border-color: #EBF0EF;
} 
.logdiv2{
     display: flex;
    justify-content: center;
    position: sticky;
    top:0%;
    z-index: 1000;
}
.logdiv{
    background-color: #C0CAD2;
    height:auto;
    width:95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:1%;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    position: sticky;
    top:0;
    z-index: 1000;
    margin-top: 0%;

}
p{
    color:rgb(225, 225, 65);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}
.sign_in_arr{
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    height: auto;
    width:420px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.login_area{
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    height: auto;
    width:420px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.logbut{
    background-color:#25343F ;
    color: #FF9B51;
    border-radius: 6px;
    margin:2px;
    padding:4px;
    font-weight: bold;
}
.accstatus{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input[type="text"]{
    font-family: sans-serif;
    font-size: large;
    border-radius: 5px;
    margin-top:10px;
    padding-top: 5px;padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DFD0B8;
    color:#222831;
}
input[type="date"]{
    font-family: sans-serif;
    font-size: large;
    border-radius: 5px;
    margin-top:10px;
    padding-top: 5px;padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DFD0B8;
    color:#222831;
}
label{
    font-size:larger;
}
.people_list
{
    background-color:#EBF0EF;
    height: auto;
    width:90%;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    justify-content:space-between;
    gap: 2%;
}
img
{
    padding: 0%;
    border-radius: 100px;
    height:50px;
    width:50px;
}
.namelastmsg{
    background-color: #20313D;
    border-radius: 10px;
    height: 40px;
    width: 80%;
    display: flex;
    padding-top:10;
    gap:10px;
    padding-left: 15px;
    padding-bottom: 0px;
    color: #FF9C50;
}
.dif{
    padding:0%;
    font-size: small;    
}

