body{
    color:#f6f2e9
}
.logo{
    background-color:#000000;
    display: flex;
    justify-content: center;
    gap:5px;
    width:auto;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.logof{color:#f6f2e9;}
.logol{color:#8f9e7a;}
.logoplcmnt{
    display: flex;
    justify-content: center;
}
.qu{
    color: 	#ffc700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.headforacc
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color:#FF9B51;
}
.notify{
    font-family:sans-serif;
}

.navbut{
    background-color:#f5f3ee;
    color:#d72638;
    font-size: 80%;
    border-radius:6px;
    border:1;
    padding-left:12px;
    padding-right:12px;
    padding-top: 8px;
    padding-bottom:10px;
    box-shadow:0 0 8px #BFC9D1 ;
    border:0px;
    margin-bottom: 10%;
} 
.logdiv2{
     display: flex;
    justify-content: center;
    position: sticky;
    top:0%;
    z-index: 1000;
}
.logdiv{
    height:auto;
    width:340px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    position: sticky;
    top:0;
    z-index: 1000;
    margin-top: 0%;
    gap: 3%;

}

.sign_in_arr{
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    height: auto;
    width:420px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.login_area{
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    height: auto;
    width:420px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.logbut{
    background-color:#25343F ;
    color: #FF9B51;
    border-radius: 6px;
    margin:2px;
    padding:4px;
    font-weight: bold;
}
.accstatus{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input[type="text"]{
    font-family: sans-serif;
    font-size: large;
    border-radius: 5px;
    margin-top:10px;
    padding-top: 5px;padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DFD0B8;
    color:#222831;
}
input[type="date"]{
    font-family: sans-serif;
    font-size: large;
    border-radius: 5px;
    margin-top:10px;
    padding-top: 5px;padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DFD0B8;
    color:#222831;
}
label{
    font-size:larger;
}
.people_list
{
    background-color: #222222;
    margin-bottom: 1%;
    height: auto;
    width:320px;
    border-radius: 14px;
    padding: 4px;
    display: flex;
    justify-content:center;
    height: 60px;
    gap:2%;
}
img
{
    border-radius: 100%;
    height: 100%;
    width:60px;
}
.namelastmsg{
    background-color:#f6f2e9;
    padding-left: 6px;
    padding-right: 2px;
    width:80%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}
.peoplearea
{
    display: flex;
    justify-content: center;
}
.pername,.tme,.lsmsg
{
    font-family: Arial, Helvetica, sans-serif;
}
.pername{font-size: small;color:#2a2a2a;width: 40%;display: flex;flex-wrap: wrap;}
.tme{font-size:medium;color:#d72638;font-size:small;}
.lsmsg{color: #8f9e7a;font-size: small;width:90%;}
.chatarr
{
    background-color: #FA8112;
    width:340px;
    padding-top: 5px;
    padding-bottom:3px;
    border-radius: 14px;
}
.chatarr2{
    display: flex;
    justify-content: center;
}
