body{color: azure;
  background-color: #111418;
font-family:Arial, Helvetica, sans-serif;}
.logobox
{display: flex;
  width: fit-content;
  gap: 3px;
color: #8f9e7a;}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap:5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius:12px;
  margin-bottom: 18px;
}
.menopt{text-decoration: none;
  color:white;
  background-color:#292e38;
  font-size: medium;
  padding: 12px;
  border-radius: 10px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    gap :4px;
}

.headforacc
{

    font-weight: bold;
    font-size: xx-large;
    color:#FF9B51;
}


.sign_in_arr{
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    height: auto;
    width:420px;
    display: flex;
    justify-content: center;
}
.login_area{
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    height: auto;
    width:420px;
    display: flex;
    justify-content: center;
}
.logbut{
    background-color:#25343F ;
    color: #FF9B51;
    border-radius: 6px;
    margin:2px;
    padding:4px;
    font-weight: bold;
}
.accstatus{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input[type="text"]{
    font-size: large;
    border-radius: 5px;
    margin-top:10px;
    padding-top: 5px;padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DFD0B8;
    color:#222831;
}
input[type="date"]{
    font-size: large;
    border-radius: 5px;
    margin-top:10px;
    padding-top: 5px;padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DFD0B8;
    color:#222831;
}
label{
    font-size:larger;
}
.people_list
{
    background-color: #1f2127;
    margin-top: 1%;
    margin-bottom: 1%;
    height: auto;
    width:95%;
    border-radius: 14px;
    padding: 4px;
    display: flex;
    justify-content:center;
    height: 60px;
    gap:1%;
}
.pfpicons
{
    border-radius: 100%;
    height: 100%;
    width:60px;
}
.namelastmsg{
    background-color:#1f2127;
    padding-left: 12px;
    padding-right: 2px;
    width:95%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}
.peoplearea
{
    display: flex;
    justify-content: center;
}
.pername{font-size: small;width: 40%;display: flex;flex-wrap: wrap;}
.tme{font-size:medium;color:#d72638;font-size:small;}
.lsmsg{font-size: small;width:90%;}
.chatarr
{
    background-color: #363b45;
    width:98%;
    padding-top: 5px;
    padding-bottom:3px;
    border-radius: 16px;
}
.chatarr2{
    display: flex;
    justify-content: center;
}

button,.people_list,.lsout2:hover {
  cursor: pointer;
}
.camico{    width:150px;}
.camico2{   display: flex;justify-content: center;}
.querbox
{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 300px;
    padding-right: 2%;
    padding-left: 2%;
    gap:10px;
}
input.querbox2[type="text"]
{
    color:#f6f2e9;
    background-color: black;
    height: 65%;
    width:300px;
    border: 0px;
    box-shadow:0 0 8px #292e38 ;
}
.querbox3{display: flex;justify-content: center ;height: 8%;}
.querbut{background-color:#111418;border: 0px;}
.setaccarr
{
    margin-top: 2%;
    margin-bottom: 2%;
    color:#EAE0CF;
    height:70px;
    width:95%;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    padding: 2px;
}
.setaccpfp
{
    width:70px;
    height:100%;
}
.accpfp{height:100%;width:100%;border-radius: 100px;}
.setaccname{
    width:85%;
    display: flex;
    justify-content: center;
}
.setacc{display: flex;justify-content: center; background-color: #2e333d;border-radius: 18px;}

.lsout
{
    margin-top: 5%;
    margin-bottom: 2%;
    height: 10%;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 2px;
    box-shadow: 0 0 10px red;
}
.lsout2
{
    display: flex;
    justify-content: center;
}
